cadreRp {
	display: block;
	width: 80%;
	margin: auto;
	background-color: #171717;
	border-radius: 1px; 
	box-shadow: 0px 0px 3px black;

}

	titreRp {
		display: inline-block;
		padding : 5%; margin-top: 5%;
		font-size: 3.8em; color: #890000; 
		font-family: "Kerberos"; font-style: italic;
		text-shadow: 0.08em 0.08em 0em black;
	}

	@font-face {
	     font-family: "Kerberos";
	     src: url("https://edwrath974.github.io/Codage_Seken/font/Kerberos_Fang.ttf");
	     font-weight: bold;
	}

	texteRp {
		display: block;
		padding: 7%;
		color: #999; 
		text-align: justify;
		font-size: 1.15em;
		font-variant: small-caps;
	}

		paroles {
			display: inline-block; color: white; padding: 0em 2em 0em 2em;
		}

			.ed {
				color: #AB0000;
			}

			lilith {
				display: inline-block; color: darkgreen; padding: 0em 2em 0em 2em;
			}

			josh {
				display: inline-block; color:#196621; padding: 0em 2em 0em 2em;
			}

			.helly {
				color: #77AA77;
			}

			norton {
				display: inline-block; color:orange; padding: 0em 2em 0em 2em;
			}

			civil {
				display: inline-block; color:#DDDDDD; padding: 0em 2em 0em 2em;
			}

			hll {
				display: inline-block; color:#800080; padding: 0em 2em 0em 2em;
			}

			gm {
				display: inline-block; color:#3399ff; padding: 0em 2em 0em 2em;
			}

			sinclair {
				display: inline-block; color:#DD985C; padding: 0em 2em 0em 2em;
			}

			wife {
				display: inline-block; color:pink; padding: 0em 2em 0em 2em;
			}