.fondFiche {
	display: block;
	width: 540px; /*height: 1000px; */
	margin: 5% auto 0 auto;
	border-radius: 1px; 
	box-shadow: 0px 0px 3px black;
	background-color: #222222;
	padding: 1.5em; 
}

cadreDrapeau {
	display: block;
	width: 100%; height: 400px;
	margin: -1.3em auto 0 auto;
}

	.imgDrapeauEd {
		width: auto ; height: 105%;
		background-image: url("https://edwrath974.github.io/Codage_Seken/images/jrEd_blackborder.png");
		background-repeat: no-repeat; background-position: center;
		background-size : contain;
	}
	.imgDrapeauHide {
		width: auto ; height: 105%;
		background-image: url("https://edwrath974.github.io/Codage_Seken/images/jrEd_borderhide_blk.png");
		background-repeat: no-repeat; background-position: center;
		background-size : contain;
	}

		.imgDrapeauHide:hover {
			display: block;
		width: auto ; height: 105%;
		background-image: url("https://edwrath974.github.io/Codage_Seken/images/jrEd_border.png");
		background-repeat: no-repeat; background-position: center;
		background-size : contain;
	}

bigTitre {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 5.8em; color: #890000; 
	font-family: "Ancherr"; font-style: italic;
	text-shadow: 0.08em 0.08em 0em black; 
}

	@font-face {
	 font-family: "Ancherr";
	 src: url("font/Ancherr-Personal-Use.otf");
	 font-weight: bold;
	}

titreCategorie {
	display: block; width: 576px;
	margin: 1.5em 0 0 -18px; padding: 0.15em 0em 0.15em 0;
	font-size: 25px; text-align: center;
	font-variant: small-caps; font-family: Tahoma; 
	color: black; background-color: #CCC;
	
}

texte {
	display: block;
	margin: 2em auto 0 auto;
	font-size: 14px; text-align: justify;
	font-variant: small-caps; font-family: Tahoma; 
	color: #999;
}
