cadreRp_Ed {
	display: block;
	width: 500px;
	margin: auto;
	padding: 3.5em;
	border-radius: 1px; 
	box-shadow: 0px 0px 3px black;
	background-color: #171717;

}

	titreRp_Ed {
		display: inline-block;
		margin: 0% 5% 5% 0%;
		text-align: left;
		font-size: 3.8em; color: #890000; 
		font-family: "Kerberos"; font-style: italic;
		text-shadow: 0.08em 0.08em 0em black; 
	}

		@font-face {
		     font-family: "Kerberos";
		     src: url("font/Ancherr.otf");
		     font-weight: bold;
		}

	texteRp_Ed {
		color: #999; text-align: justify;
		font-family: Tahoma; 
		font-variant: small-caps;
		
	}


		.paroles {
			display: inline-block; color: white; padding: 0em 2em 0em 2em;
		}

			.ed {
				color: #AB0000;
			}

			.lilith {
				color: darkgreen;
			}

			.josh {
				color:#196621;
			}

			.helly {
				color: #77AA77;
			}

			.norton {
				color:orange;
			}

			.civil {
				color:#DDDDDD;
			}

			.hll {
				color:#800080;
			}

			.gm {
				color:#3399ff;
			}

			.sinclair {
				color:#DD985C;
			}

			.wife {
				color:pink;
			}