cadreRp_Agote {
	display: flex;
	align-items: center; justify-content: center;
	width:600px; height: auto;
	margin:auto;
	box-shadow:0px 0px 3px black; 

	background-color: #f5efdd;
	border: 1px solid none;
}

cadreTitre_Agote {
	background-color: red;
	border: 1px solid none;
}

cadreInfos_Agote {
	background-color: blue;
	border: 1px solid none;
}

cadreTexte_Agote {
	background-color: green;
	border: 1px solid none;
}