cadreRp_Ed {
	display: block;
	width: 500px;
	margin: auto;
	padding: 4em;
	border-radius: 1px; 
	box-shadow: 0px 0px 3px black;
	background-color: #171717;

}

	titreRp_Ed {
		display: inline-block;
		margin: 0% 5% 5% 0%;
		text-align: left;
		font-size: 3.8em; color: #890000; 
		font-family: "Ancherr"; font-style: italic;
		text-shadow: 0.08em 0.08em 0em black; 
	}

		@font-face {
		     font-family: "Ancherr";
		     src: url("font/Ancherr-Personal-Use.otf");
		     font-weight: bold;
		}

	jrErika_Ed {
		display: block;
		width: 250px; height: 235px; margin: 1em auto -180px auto;
		background-image: url("https://edwrath974.github.io/Codage_Seken/images/jrErika_rndr.png");
		background-repeat: no-repeat; background-size: cover;
	}

	jrErika_Ed {
		display: block;
		width: 250px; height: 235px; margin: 1em auto -180px auto;
		background-image: url("https://edwrath974.github.io/Codage_Seken/images/jrEd_blackborder.png");
		background-repeat: no-repeat; background-size: cover;
	}

	texteRp_Ed {
		display: block;
		color: #999; text-align: justify;
		font-family: Tahoma; font-size: 14px;
		font-variant: small-caps;
		
	}
		texteInfos_Ed {
			display: block;
			margin-top: 2em;
			text-align: right;
		}

		.paroles {
			display: inline-block; color: white; 
			padding: 0em 1.75em 0em 1.75em;
		}

			.ed {
				color: #AB0000;
			}

			.lilith {
				color: darkgreen;
			}

			.josh {
				color:#196621;
			}

			.helly {
				color: #77AA77;
			}

			.norton {
				color:orange;
			}

			.civil {
				color:#DDDDDD;
			}

			.hll {
				color:#800080;
			}

			.gm {
				color:#3399ff;
			}

			.sinclair {
				color:#DD985C;
			}

			.wife {
				color:pink;
			}