
cadreFiche {
display: flex;
align-items: center; justify-content: center;
width:600px; height: auto;
margin:auto;
box-shadow:0px 0px 3px black; 
}

fondFiche {
width: 100%; height: 1510px;
/*margin: 2% 2% 2% 2%; /*H-D-B-G*/
background-color: #f5efdd;
border: 1px solid none;
}

cadreTitre {
	display: flex;
	align-items: center;
	width: 60%; height: 180px;
	float: left;
	background-color: #fffde8;
}

	titreTxt {
		font-size: 28pt; color: #5f543d;
		font-family: Baskerville Old Face;
		padding-left: 15%;
	}

	cadreTitreImg {
		display: flex;
		align-items: center; justify-content: right;
		width: 40%; height: 180px;
		float: right;
		border: 0px solid green;
		background-color: #fffde8;
		background-image: url(https://media.discordapp.net/attachments/381390001658658816/745295644981199028/kkuete_RondBack.png);
	}

	titreImg {
		width: 110px; height: 110px;
		margin-right: 20%;
		background-size: cover;
		background-image: url(https://media.discordapp.net/attachments/381390001658658816/745292370366562304/kkuete100.jpg); 
		border-radius: 100%; border: solid 5px #ffe220;
	}

	titreImgMini {
		width: 60px; height: 60px;
		float: left; z-index: 1;
		margin: 35% -20% 0% 0%; /*H-D-B-G*/
		background-size: cover;
		background-image: url(https://media.discordapp.net/attachments/381390001658658816/745292370366562304/kkuete100.jpg);
		border-radius: 100%; border: solid 5px #ffe220;
	}

motifCadreTitre {
	width: 100%; height: 30px;
	float: left; padding-bottom: 30px;
	border-top: 5px solid #ecd900;
	background-color: #f5efdd; background-repeat: no-repeat;
	background-image: url(https://media.discordapp.net/attachments/381390001658658816/753199769853362256/BordureAgote.png?width=720&height=35); 
}

motifCadreTexte {
	width: 50%; height: 30px;
	float: right; padding-bottom: 30px;
	border-top: 5px solid #ecd900;
	background-color: #f5efdd;
	background-image: url(https://media.discordapp.net/attachments/381390001658658816/753196626654527518/Agote_Test.png);
	background-repeat: no-repeat;
}

cadreInfosPerso {
	display: flex;
	width: 90%; height: 180px;
	margin: auto;
	align-items: center; justify-content: center;
	background-color: #f5efdd;
}

	txtInfosPerso {
		width: 100%;
		-webkit-columns:2; /* Opera, Safari, Google Chrome */
	    -moz-columns: 2; /* Firefox */
	    columns: 2; /* Internet Explorer */
	    padding: 5px;
	    font-size: 15px; 
		font-family: Baskerville Old Face;

	}

cadreCategorie {
	display: flex;
	width: 100%; height: 280px;
	border: 0px none green;
	float: left;
	background-color: #f4ec70;
}

	portionLatCategorie {
		width: 25%;
		float: left;
		background-color: #f4ec70;
	}

	imgCategorie {
		display: inline-flex;
		width: 90%; height: 80%; z-index: 3;
		margin : 8%;
		border-radius: 8%; border: 4px solid #5f543d;
		background-size: cover; background-repeat: no-repeat;
	}

	titreCategorie {
		display: inline-flex;
		font-size: 24pt; color: #5f543d;
		font-family: Baskerville Old Face;
		margin-top: -18%; padding-left: 2%; 
	}

	corpsTexte {
		width: 75%; float: right;
	    font-size: 15px; text-align: justify;
		font-family: Baskerville Old Face;
		padding: 4%; overflow: auto;
	    border: none 2px lightblue;

	}

cadrePiedPage {
	width: 40%; height: 7%;
	float: right;
	border: 0px none green;
	background-image: url(https://media.discordapp.net/attachments/381390001658658816/745295529356951614/kkiete_rec.png?width=720&height=28); background-repeat: no-repeat;
}
